@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Regular.ttf);
}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	background-color: #FFF;
}

body {
	font-family: montserrat, arial, verdana;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

#banner {
    background-image: url('../img/banner.png');
    color: #FFF;
    height: 99px;
    padding: 15px 0 0 0;
    font-size: 30px;
}

.nav-menu-item {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 4px 0 4px 0;
    background-color: #ddd;
}

.nav-menu-item:hover {
    cursor: pointer;
    background-color: #aaa;
}

.active {
    background-color: #ff0000 !important;
}

#about-page {
    padding: 10px;
}

#portrait-img {
    display: inline-block;
    width: 500px;
}

#about-text {
    top: -250px;
    position: relative;
    display: inline-block;
    width: 500px;
}

#job-title {
    font-size: 20px;
    font-family: courier;
}

#footer {
    background-color: #eee;
    position: relative;
    padding: 10px;
    bottom: 0;
}

#conainer {
    min-height: 600px;
    margin: 20px 0 0 0;
    overflow: scroll;
}

.content {

}

.page-heading {
    font-size: 46px;
}

.skill {
    font-size: 22px;
    min-height: 100px;
}

.skill-left {
    width: 50%;
    text-align: right;
    position: relative;
    color: orange;
    float: left;
    padding: 5px 10px 5px 5px;
    font-size: 28px;
}


.skill-right {
    width: 50%;
    float: right;
    position: relative;
    color: teal;
    padding: 5px 5px 5px 10px;
}












































#board {
    width: 1200px;
}

.segment {
    background-color: #545454;
    display: inline-block;
    width: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
}

.square {
    background-color: #ddd;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
}

.placep1:hover {
    background-color: #00e;
    cursor: pointer;
}

.placep2:hover {
    background-color: #ee0;
    cursor: pointer;
}

.p1-square, .p1-square:hover {
    background-color: #00e;
}

.p2-square, .p2-square:hover {
    background-color: #ee0;
}

#left-side {
    position: absolute;
    left: 0;
}

#right-side {
    position: absolute;
    right: 0;
}

.game-move {
    margin: 10px;
    border-color: #000;
    border-style: solid;
    border-radius: 5px;
    padding: 50px 90px 50px 30px;
    font-size: 40px;
}

#p1-color {
    width: 356px;
    height: 150px;
    color: #FFF;
    margin: 20px 0 0 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
}

#p1-color h1 {
    font-size: 50px;
    margin: 40px 0 0 0;
}

.active {
    background-color: #f00;
}

.twistable {
    cursor: pointer;
}

.twistable:hover {
    background-color: #777;
}

.rotate-segment-icon {
    font-size: 300px;
    position: absolute;
    z-index: 9999;
    padding-left: 76px;
    padding-top: 10px;
    color: #125825;
    display: none;
}

.go-icon {
    color: #FFF;
}

.visible {
    color: #000;
}

#game-score {
    border-style: solid;
    width: 500px;
    height: 200px;
    background-color: #bada55;
    z-index: 999999;
    position: absolute;
    top: 500px;
    margin: auto;
    left: 0;
    right: 0;
    display: none;
}

#game-score h1 {
    font-size: 60px;
    padding-top: 50px;
}



/* animate rotation */
.twistable:hover {
  -webkit-transform: rotate(30deg);
}

.rotate {/*
  -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;*/
}

.rotate:hover {
  -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}