@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Regular.ttf);
}

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	background-color: #FFF;
}

body {
	font-family: montserrat, arial, verdana;
}

h2 {
    color: #FFF;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.active {
    background-color: #ff0000 !important;
}

#about-page {
    padding: 10px;
}

#portrait-img {
    display: inline-block;
    width: 500px;
}

#about-text {
    top: -250px;
    position: relative;
    display: inline-block;
    width: 500px;
}

#footer {
    background-color: #eee;
    position: relative;
    padding: 10px;
    bottom: 0;
}

#conainer {
    min-height: 600px;
    margin: 20px 0 0 0;
    overflow: scroll;
}

.page-heading {
    font-size: 46px;
}




































#board {
    width: 632px;
    margin: 20px 0 20px 0;
    background-color: rgb(254, 146, 0);
    padding: 12px;
    border-radius: 10px;
}

.segment {
    background-color: #545454;
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 4px;
    font-size: 0;
    border-radius: 5px;
}

.square {
    
    display: inline-block;
    width: 150px;
    height: 150px;
    z-index: 9999999999;
}

.square div {
    background-color: #000;
    width: 139px;
    height: 140px;
    border-radius: 5px;
    margin: 5px;
    background-color: #ddd;
    transition: background-color 0.6s ease;
}

.placep1 div:hover {
    background-color: #ed1c24;
    cursor: pointer;
    transition: all 0.3s ease;
}

.placep2 div:hover {
    background-color: #ee0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.p1-square div {
    background-color: #ed1c24;
}
.p1-square:hover div {
    background-color: #ed1c24;
    transition: all 1s ease;
}


.p2-square div {
    background-color: #ee0;
}

.p2-square:hover div {
    background-color: #ee0;
    transition: all 1s ease;
}

@media (max-width:1360px) { 

    #left-side {
        position: relative;
        left: 0;
    }

    #right-side {
        position: relative;
        right: 0;
    }

    .game-move {
        margin: 10px;
        border-color: #000;
        border-style: solid;
        border-radius: 5px;
        padding: 6px 10px 6px 10px;
        font-size: 14px;
    }

    #p1-color h1, #p2-color h1 {
        font-size: 20px;
        margin: 10px 0 0 0;
    }

    #p1-color {
        width: 206px;
        color: #FFF;
        margin: 10px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }



    #p2-color {
        width: 200px;
        color: #FFF;
        margin: 10px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }

    #left-side {
        position: relative;
        left: 0;
        top: 0;
        display: inline-block;
    }

    #right-side {
        position: relative;
        right: 0;
        top: 0;
        display: inline-block;
    }

    .center-align {
        margin: auto;
        left: 0;
        right: 0;
    }

}

@media (min-width:1360px) { 





    .game-move {
        margin: 10px;
        border-color: #000;
        border-style: solid;
        border-radius: 5px;
        padding: 6px 90px 6px 30px;
        font-size: 24px;
    }

    #p1-color h1, #p2-color h1 {
        font-size: 50px;
        margin: 40px 0 0 0;
    }

    #p1-color {
        width: 356px;
        color: #FFF;
        margin: 20px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }



    #p2-color {
        width: 356px;
        color: #FFF;
        margin: 20px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }

    #left-side {
        position: absolute;
        left: 0;
    }

    #right-side {
        position: absolute;
        right: 0;
    }


}





#p1-place, #p1-twist, #p2-place, #p2-twist {
    background-color: #ccc;
}



.activeone {
    background-color: #ed1c24 !important;
}

.activetwo {
    background-color: #ee0 !important;
}



.active {
    background-color: #ee0;
}

.twistable {
    cursor: pointer;
}

.twistable:hover {
    background-color: #777;

    -webkit-transform: rotate(30deg);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.twistable:active {
    -webkit-transform: rotate(90deg);

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.rotate-segment-icon {
    font-size: 300px;
    position: absolute;
    z-index: 9999;
    padding-left: 76px;
    padding-top: 10px;
    color: #125825;
    display: none;
}

.go-icon {
    color: #FFF;
}

.visible {
    color: #000;
}

#game-score {
    border-style: solid;
    width: 500px;
    height: 200px;
    background-color: rgba(28, 239, 28, 0.5);
    z-index: 999999;
    position: absolute;
    top: 350px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
    display: none;
}

#game-score h1 {
    font-size: 60px;
    padding-top: 50px;
}

/*
#rotate-icon {
    position: absolute;
    font-size: 40px;

}*/




















/* KAPPISAN */

#title-bar {
    height: 120px;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #ed1c24;
    padding-left: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #fff;
    z-index: 99;
}

#main-logo {
  width: 280px;
}

#small-logo {
  width: 80px;
  float: right;
  margin: 10px 50px 0 0;
}
