@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Regular.ttf);
}

@font-face {
    font-family:apache;
    src: url(./apache.ttf);
}

@font-face {
    font-family:minecraft;
    src: url(Minercraft.ttf);
}

.minecraft {
    font-family: minecraft;
}

h1, h2, h3 {
    font-family: apache;
}


/*basic reset*/
* {margin: 0; padding: 0;}

html {
	background-color: #FFF;
}

body {
	font-family: montserrat, arial, verdana;
}

h2 {
    color: #FFF;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

.apache {
    font-family: apache;
}

.active {
    background-color: #ff0000 !important;
}

#about-page {
    padding: 10px;
}

#portrait-img {
    display: inline-block;
    width: 500px;
}

#about-text {
    top: -250px;
    position: relative;
    display: inline-block;
    width: 500px;
}

#footer {
    background-color: #231f20;
    position: relative;
    padding: 10px;
    bottom: 0;
    color: #fff;
}


#conainer {
    min-height: 600px;
    margin: 20px 0 0 0;
    overflow: scroll;
}

.page-heading {
    font-size: 46px;
}

#rules-section {
    background-color: #ed1c24;
    color: #fff;
    padding: 30px 20px 50px 20px;
}

#rules-section h3 {
    font-size: 40px;
}

#ai-button {
    background-color: #ccc;
    position: absolute;
    width: 100px;
    height: 20px;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
}

#ai-button:hover {
    cursor: pointer;
}

.activeAI {
    background-color: #056e05 !important;
    border-style: solid;
    border-color: #000;
}









.fb-like-container {
    padding: 40px 20px;
}











#moves-remaining {
    width: 356px;
    color: #FFF;
    margin: 20px 0 0 0;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    background-color: #444;
    height: 254px;
}




#board {
    width: 632px;
    margin: 20px 0 20px 0;
    background-color: rgb(35, 31, 32);
    padding: 12px;
    border-radius: 10px;
}

.segment {
    background-color: #545454;
    display: inline-block;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 2px;
    font-size: 0;
    border-radius: 2px;
}

.square {
    
    display: inline-block;
    width: 150px;
    height: 150px;
    z-index: 9999999;
}

.square div {
    width: 139px;
    height: 140px;
    border-radius: 5px;
    margin: 5px;
    background-color: #fff;
}



.p1-square div {
    background-color: #ed1c24 !important;
}

.p2-square div {
    background-color: #ee0 !important;
}

.block-square div {
    background-color: #444 !important;
}

.twisting {
    -webkit-transform: rotate(90deg);

    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}


/* hover styles here */ 
@media only screen { 

        .twistable:hover {

            -webkit-transform: rotate(90deg);

            -webkit-transition: all .75s ease;
            -moz-transition: all .75s ease;
            -o-transition: all .75s ease;
            transition: all .75s ease;
        }

        .p1-square:hover div {
            background-color: #ed1c24;
            transition: all 1s ease;
        }
        .p2-square:hover div {
            background-color: #ee0;
            transition: all 1s ease;
        }

        .placep1 div:hover {
            background-color: #ed1c24;
            cursor: pointer;
            transition: all 0.8s ease;
        }

        .placep2 div:hover {
            background-color: #ee0;
            cursor: pointer;
            transition: all 0.8s ease;
        }
}




@media (max-width:1360px) { 

    #left-side {
        position: relative;
        left: 0;
    }

    #right-side {
        position: relative;
        right: 0;
    }

    .game-move {
        margin: 10px;
        border-color: #000;
        border-style: solid;
        border-radius: 5px;
        padding: 6px 10px 6px 10px;
        font-size: 14px;
    }

    #p1-color h1, #p2-color h1, #moves-remaining h1 {
        font-size: 20px;
        margin: 10px 0 0 0;
    }

    #p1-color {
        width: 206px;
        color: #FFF;
        margin: 10px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }



    #p2-color {
        width: 200px;
        color: #FFF;
        margin: 10px 0 0 0;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }

    #left-side {
        position: relative;
        left: 0;
        top: 0;
        display: inline-block;
    }

    #right-side {
        position: relative;
        right: 0;
        top: 0;
        display: inline-block;
    }

    .center-align {
        margin: auto;
        left: 0;
        right: 0;
    }

}



@media (min-width:1360px) { 


    .game-move {
        margin: 10px;
        border-color: #000;
        border-style: solid;
        border-radius: 5px;
        padding: 6px 90px 6px 30px;
        font-size: 24px;
    }

    #p1-color h1, #p2-color h1, #moves-remaining h1 {
        font-size: 50px;
        margin: 40px 0 0 0;
    }

    #p1-color {
        width: 356px;
        color: #FFF;
        margin: 20px 0 0 20px;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }



    #p2-color {
        width: 356px;
        color: #FFF;
        margin: 20px 0 0 20px;
        border-radius: 5px;
        border-style: solid;
        border-color: #000;
        background-color: #eee;
    }

    #left-side {
        position: absolute;
        left: 20px;
    }

    #right-side {
        position: absolute;
        right: 20px;
    }

}





#p1-place, #p1-twist, #p2-place, #p2-twist {
    background-color: #ccc;
}



.activeone {
    background-color: #ed1c24 !important;
}

.activetwo {
    background-color: #ee0 !important;
}



.active {
    background-color: #ee0;
}

.twistable {
    cursor: pointer;
}



.twistable {
    -webkit-transform: rotate(0deg);

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.rotate-segment-icon {
    font-size: 300px;
    position: absolute;
    z-index: 9999;
    padding-left: 76px;
    padding-top: 10px;
    color: #125825;
    display: none;
}

.go-icon {
    color: #FFF;
}

.visible {
    color: #000;
}

#game-score {
    border-style: solid;
    width: 500px;
    height: 200px;
    background-color: rgba(35, 31, 32, 0.75);
    z-index: 999999;
    position: absolute;
    top: 350px;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 4px;
    display: none;
}

#game-score h1 {
    font-size: 60px;
    padding: 26px 0 10px 0;
    color: #fff;
}

/*
#rotate-icon {
    position: absolute;
    font-size: 40px;

}*/

#play-again {
    width: 400px;
    height: 50px;
    margin: 10px 0 0 0;
    border-radius: 2px;
    background-color: #ed1c24;
    border-style: solid;
    border-color: #000;
    border-width: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

#play-again:hover {
    cursor: pointer;
    color: #ddd;
}




#loading-spinner {
    position: absolute;
    margin: 0;
    z-index: 999999999999999999999;
    padding: 0;
    width: 630px;
    height: 620px;
    color: #fff;
    background-color: rgba(25,25,25,0.8);
    border-radius: 5px;
}

#loading-spinner-icon {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: #fff;

    -webkit-animation: twist 1s ease-out;
    -webkit-animation-iteration-count: infinite; 

}

.fade-away {
    background-color: rgba(25,25,25,0) !important;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.fade-in {
    background-color: rgba(25,25,25,0.8) !important;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

#center-spinner {
    position: relative;
    margin: auto;
    left: 0;
    top: 33%;
    bottom: 0;
    right: 0;
}














.pulsating-square {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 1.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.95, 0.95); opacity: 1.05;}
    50% {-webkit-transform: scale(1.05, 1.05); opacity: 0.95;}
    100% {-webkit-transform: scale(0.95, 0.95); opacity: 1.05;}
}

@-webkit-keyframes twist {
    0% {-webkit-transform: rotate(90deg); }
    50% {-webkit-transform: rotate(180deg); }
    100% {-webkit-transform: rotate(270deg); }
}












.barelyVisible {
    opacity: 0.05 !important;
}

/* KAPPISAN */

#title-bar {
    height: 120px;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #ed1c24;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #ed1c24;
    z-index: 99;
}

#title-bar h1 {
    position: absolute;
    font-size: 80px;
    text-align: center;
    width: 100%;
}

#main-logo {
    width: 280px;
    margin: 0 50px;
}

#small-logo {
  width: 80px;
  float: right;
  margin: 10px 50px 0 0;
}

.game-title {
    color: #fff;
    font-size: 50px;
    padding: 20px 0 0 0;
}