<style>

.segment {
    fill: #9000aa;
}

.empty-square {
	fill: #CCC;
}

.empty-square:hover {
	fill: #DDD;
}

.red-square {
	fill: #C00;
}

.blue-square {
	fill: #00C;
}

svg {
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	fill: #FFF;
}

.playerinfo {
	font-size: 40px;
}

</style>


<div ng-controller="d3Ctrl">
	name: <input type="text" id="name-input">
	<button onclick="join()">Join</button>

	<div id="player1text" class="playerinfo"></div>
	<div id="player2text" class="playerinfo"></div>

	<div id="move">p1place</div>


	<div id="board-div"></div>
</div>