<style>

.segment {
    fill: #9000aa;
}

.empty-square {
	fill: #CCC;
}

.empty-square:hover {
	fill: #DDD;
}

.red-square {
	fill: #C00;
}

.blue-square {
	fill: #00C;
}

.boardsvg {
	position: relative;
	margin: auto;
	left: 0;
	right: 0;
	fill: #FFF;
}

.playerinfo {
	font-size: 40px;
}

.activeone {
	background-color: #C00;
}

.activetwo {
	background-color: #00C;
}

</style>


<div ng-controller="d3Ctrl">

	<ng-include src="'./templates/playerinfo.html'"></ng-include>

	name: <input type="text" ng-model="player.name">

	<button ng-click="join()" width="200" height="100">Join</button>

	<div id="move">p1place</div>


	<center>
		<div id="board-div"></div>
	</center>
</div>