<center>

<div id="left-side">

	
	<div id="p1-color" ng-class="{ activeone: (move == 'p1-place') || (move == 'p1-twist') }">
		<h1>Player one</h1>

			<div id="p1-place" class="game-move" ng-class="{ active: move == 'p1-place' }">
				<h2><i class="fa fa-th-large go-icon" aria-hidden="true" ng-class="{ active: move == 'p1-place' }"></i> Place</h2>
			</div>
			<div id="p1-twist" class="game-move" ng-class="{ active: move == 'p1-twist' }">
				<h2><i class="fa fa-repeat go-icon" aria-hidden="true" ng-class="{ active: move == 'p1-twist' }"></i> Twist</h2>
			</div>

	</div>




</div>


<div id="right-side">


	<div id="p2-color" ng-class="{ activetwo: (move == 'p2-place') || (move == 'p2-twist') }">
		<h1>Player two</h1>

		<div id="p2-place" class="game-move" ng-class="{ active: move == 'p2-place' }">
			<h2><i class="fa fa-th-large go-icon" aria-hidden="true" ng-class="{ active: move == 'p2-place' }"></i> Place</h2>
		</div>
		<div id="p2-twist" class="game-move" ng-class="{ active: move == 'p2-twist' }">
			<h2><i class="fa fa-repeat go-icon" aria-hidden="true" ng-class="{ active: move == 'p2-twist' }"></i> Twist</h2>
		</div>

	</div>



</div>

</center>

<div id="play-page">

	<center>
	<div id="board">
		<div class="segment" ng-class="{ twistable: move == 'p1-twist' || move == 'p2-twist' }" ng-click="rotateSeg(1)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s11" class="square" ng-click="selectSquare(1,1)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s12" class="square" ng-click="selectSquare(1,2)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s14" class="square" ng-click="selectSquare(1,4)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s13" class="square" ng-click="selectSquare(1,3)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
		</div>
		<div class="segment" ng-class="{ twistable: move == 'p1-twist' || move == 'p2-twist' }" ng-click="rotateSeg(2)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s21" class="square" ng-click="selectSquare(2,1)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s22" class="square" ng-click="selectSquare(2,2)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s24" class="square" ng-click="selectSquare(2,4)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s23" class="square" ng-click="selectSquare(2,3)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
		</div>		
		<div class="segment" ng-class="{ twistable: move == 'p1-twist' || move == 'p2-twist' }" ng-click="rotateSeg(3)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s31" class="square" ng-click="selectSquare(3,1)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s32" class="square" ng-click="selectSquare(3,2)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s34" class="square" ng-click="selectSquare(3,4)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s33" class="square" ng-click="selectSquare(3,3)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
		</div>
		<div class="segment" ng-class="{ twistable: move == 'p1-twist' || move == 'p2-twist' }" ng-click="rotateSeg(4)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s41" class="square" ng-click="selectSquare(4,1)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s42" class="square" ng-click="selectSquare(4,2)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s44" class="square" ng-click="selectSquare(4,4)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
			<div id="s43" class="square" ng-click="selectSquare(4,3)" ng-class="{ placep1: move == 'p1-place', placep2: move == 'p2-place' }" >
				<div></div>
			</div>
		</div>				
	</div>
</center>

<center>
	<div id="game-score">
		<h1 id="win-text">{{ winText }}</h1>
		<button id="play-again" ng-click="playAgain()">Play Again</button>
	</div>
</center>

<div id="rules-section">
	<h3>Rules</h3>
		<p>- A player has 2 moves, one place move then one twist move.</p>

		<p>- The first player to get four in a row wins.</p>

		<p>- You cannot place pieces over opponents pieces.</p>	


</div>


