<center>

	<button id="new-game-button" ng-click="playAgain()" ng-class="{ disabledNG: firstMove }">New Game</button>

	<div id="left-side" ng-class="{ barelyVisible: (move == 'p2-place') || (move == 'p2-twist') }">
		<div id="p1-color" ng-class="{ activeone: (move == 'p1-place') || (move == 'p1-twist') }">
			<h1>Player one</h1>

			<div id="p1-place" class="game-move" ng-class="{ activeyellow: move == 'p1-place' }">
				<h2><i class="fa fa-th-large go-icon" aria-hidden="true" ng-class="{ activeyellow: move == 'p1-place' }"></i> Place</h2>
			</div>
			<div id="p1-twist" class="game-move" ng-class="{ activeyellow: move == 'p1-twist' }">
				<h2><i class="fa fa-repeat go-icon" aria-hidden="true" ng-class="{ activeyellow: move == 'p1-twist' }"></i> Twist</h2>
			</div>

		</div>
	</div>

	<button id="human-button" ng-click="toggleAI()" ng-class="{ activeAI: !AI }">Human</button>
	<button id="ai-button" ng-click="toggleAI()" ng-class="{ activeAI: AI }">AI</button>

	<div class="difficulty-container noSelect" ng-if="AI">
		<div>
			<input id="difficulty1" type="radio" name="ai" ng-model="difficulty" ng-value="1" ng-change="toggleDifficulty(1)">
			<span ng-click="toggleDifficulty(1)">level 1</span>
		</div>
		<div>
			<input id="difficulty2" type="radio" name="ai" ng-model="difficulty" ng-value="2" ng-change="toggleDifficulty(2)">
			<span ng-click="toggleDifficulty(2)">level 2</span>
		</div>
	</div>

	<div id="right-side" ng-class="{ barelyVisible: (move == 'p1-place') || (move == 'p1-twist') }">
		<div id="p2-color" ng-if="showPlayer2" ng-class="{ activetwo: (move == 'p2-place') || (move == 'p2-twist') }">
			<h1 ng-if="!AI">Player two</h1>
			<h1 ng-if="AI">Computer{{difficulty}}</h1>

			<div id="p2-place" class="game-move" ng-class="{ active: move == 'p2-place' }">
				<h2><i class="fa fa-th-large go-icon" aria-hidden="true" ng-class="{ active: move == 'p2-place' }"></i> Place</h2>
			</div>
			<div id="p2-twist" class="game-move" ng-class="{ active: move == 'p2-twist' }">
				<h2><i class="fa fa-repeat go-icon" aria-hidden="true" ng-class="{ active: move == 'p2-twist' }"></i> Twist</h2>
			</div>
		</div>

		<div id="moves-remaining" ng-if="showMovesRemaining" ng-class="{ activetwo: (move == 'p2-place') || (move == 'p2-twist') }">
			<h1>Moves Left</h1>
			<h1>{{ availableMoves }}</h1>
		</div>
	</div>

</center>

<div id="play-page">

	<center style="background-color: #231f20;">
		<div ng-if="gameTitle" class="game-title apache">{{ gameTitle }}</div>
		<div ng-if="gameDescription"><h1>{{ gameDescription }}</div>


	<div id="board">

		<div ng-if="showLoadingSpinner" id="loading-spinner">
			<div id="center-spinner">

				<div id="loading-spinner-icon"></div>
				<br><br><br>
				<center><h1>Loading...</h1></center>
			</div>
		</div>


		<div id="seg1" class="segment" ng-class="{ twistable: !isTouch && !gameOver && (move == 'p1-twist' || (move == 'p2-twist' && !AI)) }" ng-click="rotateSeg(1)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s11" class="square" ng-click="selectSquare(1,1)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s12" class="square" ng-click="selectSquare(1,2)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s14" class="square" ng-click="selectSquare(1,4)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s13" class="square" ng-click="selectSquare(1,3)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
		</div>
		<div id="seg2" class="segment" ng-class="{ twistable: !isTouch && !gameOver && (move == 'p1-twist' || (move == 'p2-twist' && !AI)) }" ng-click="rotateSeg(2)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s21" class="square" ng-click="selectSquare(2,1)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s22" class="square" ng-click="selectSquare(2,2)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s24" class="square" ng-click="selectSquare(2,4)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s23" class="square" ng-click="selectSquare(2,3)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
		</div>		
		<div id="seg3" class="segment" ng-class="{ twistable: !isTouch && !gameOver && (move == 'p1-twist' || (move == 'p2-twist' && !AI)) }" ng-click="rotateSeg(3)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s31" class="square" ng-click="selectSquare(3,1)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s32" class="square" ng-click="selectSquare(3,2)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s34" class="square" ng-click="selectSquare(3,4)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s33" class="square" ng-click="selectSquare(3,3)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
		</div>
		<div id="seg4" class="segment" ng-class="{ twistable: !isTouch && !gameOver && (move == 'p1-twist' || (move == 'p2-twist' && !AI)) }" ng-click="rotateSeg(4)">
			<div class="rotate-segment-icon">
				<i class="fa fa-repeat" aria-hidden="true"></i>
			</div>
			<div id="s41" class="square" ng-click="selectSquare(4,1)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s42" class="square" ng-click="selectSquare(4,2)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s44" class="square" ng-click="selectSquare(4,4)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
			<div id="s43" class="square" ng-click="selectSquare(4,3)" ng-class="{ placep1: move == 'p1-place' && !isTouch, placep2: move == 'p2-place' && !isTouch && !AI }" >
				<div></div>
			</div>
		</div>				
	</div>
	<p>touchscreen = {{ isTouch }}</p>

	<div id="game-score">
		<h1 id="win-text">{{ winText }}</h1>
		<button id="play-again" ng-click="playAgain()">Play Again</button>
	</div>
</center>

<div id="rules-section">
	<h3>Rules</h3>
		<p>- A player has 2 moves, one place move then one twist move.</p>

		<p>- You can only place pieces on empty squares.</p>

		<p>- Segments can only be twisted clockwise.</p>

		<p>- The first player to get four in a row wins.</p>

		<p>- If both players complete four in a row simultaneously the game is drawn.</p>

		<p>- If all squares have been taken and no one has won, the game is drawn.</p>
</div>

<div class="fb-like-container">
	<!-- facebook like -->
	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>
</div>


